#company-name > h1 {
    font-size: 18px;
}
#delete-header {
  text-align: right;
}
hr{
   border-top: 3px solid #01b2bd !important;
}
.delete-form{
   margin-left: 15px;
   float: center;
}
.delete-form:hover{
	color: red;
	cursor:pointer;
}
.form-container{
	width: calc(100% - 200px);
  padding-left: 100px;
}

.page-title{
   margin: 35px auto;

}

.table {
  margin:auto;

}

.table > thead > tr > th {
    font-size: 18px;

   /*border-bottom: none !important;*/
}

.add-button{
   float: left;
   border-radius: 2px;
   padding: 7px;
   margin-top: 15px;
   background-color: #01b2bd;
   color: white;
}

.add-button:hover{
   background-color: #049099;
   cursor: pointer;
}

tr:nth-last-child(1){
   border-bottom: 1px solid rgb(215,215,215) !important;
}

.table thead th{
    border-bottom: 1px solid rgb(215,215,215) !important;
}
.table  tr{
    font-size: 18px;
}
.delete-cell{
  width: 50px;
}

.form-row:hover{
  background-color: rgba(25, 25, 25, .1);
  cursor:pointer;
}

.message-api{
   margin-top: 30px;
   color: #303641;
   margin-left: 30px;
   width: 60%;
   max-width: 480px;

}

.message-api a{
   color: #818da2 !important;
}

.message-api a:hover{
   color: #5b677b !important;
}

.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: opacity 0.6s;
}

.closebtn:hover {
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    margin-left: 135px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}